::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }


/*
 * Sidebar
 */
 h1 {
  border-left: solid 15px #212529;
  padding-left: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  /* left: 0; */
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

/* .post-content {
  height: calc(100vh - 167px);
} */

.sidebar-sticky {
  position: relative;
  top: 0;
  /* height: calc(100vh - 112px); */
  /* height: calc(100vh - 178px); */
  /* height: calc(100vh - 167px); */
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar-sticky .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar-sticky .nav-link.active {
  color: #007bff;
}

#sidebarMenu .nav-link:hover,
#sidebarMenu .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* .nav-item a:active {
  background-color:#007bff;
  color:#fff;
} */

.subject:hover {
  background-color:#f8f9fa;
}

.account-info {
  font-size:.75rem;
}

.comment-icon:hover {
  color : #0d6efd
}

.fold {
  color : grey;
  text-decoration : underline;
}

.fold:hover {
  color : darkslategrey;
  text-decoration : underline;
}

.sub_menu {
  color:#575757;
  font-size:.75rem;
  font-weight: bold;
}

/* 포스트 정보 스타일 */
.info_text {
  font-size:.75rem;
}

.sub_menu:hover {
  color:#007bff
}

.selected {
  background-color:#DCF2EA;
}

/* 숨김 처리된 댓글 */
.hidden_comment {
  display: none;
}

/* 댓글 비밀번호 확인창 */
.comment_pw_check {
  display: none;
}

/* 댓글 비밀번호 확인창 */
.comment_pw_check {
  display: none;
}

/* 수정 댓글 저장 버튼*/
.comment_modify_save_btn {
  display: none;
}

/*말줄임*/
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	line-height: 20px;
	height: 20px;
  /* margin-bottom: 10px; */
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30%;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.nav_box { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  font-weight: bold; 
  font-family: "NEXON Lv2 Gothic Bold"; 
  font-size: 1.5em; 
  margin: 5px;
}

#hamburger { 
  width: 35px;
  z-index: 401;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav_side_menu {
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 400;
  width: 300px;
  height: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
  background-color: #343a40;
}

.nav_side_menu.on {
  right: 0;
}

/* icon container */
.comment_icon_div {
  margin: 0 0 3px 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
}

/* trash_body */
.trash {
  width: 100%;
  height: 70%;
  content: url( "/img/trash_body.svg" );
  margin:0 auto;
}

.trash_cap_wrap {
  margin-bottom: 20px;
}

/* trash_cap */
.trash_cap {
  position: absolute;
  cursor: pointer;
  width: 16px;
  margin-bottom: 20px;
  content: url( "/img/trash_cap.svg" );
  -webkit-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  transform: rotate(-0deg);
  transition: transform 250ms;
  /* 2d animation 변화 기준점 설정 :  x-axis y-axis;  % 또는 px값으로 설정이 가능한다.*/
  transform-origin: 0 5px;
}

.trash_cap:active{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: transform 250ms;
}

.trash_cap:hover {
  content: url( "/img/trash_cap_hover.svg" );
}

/* 슬라이드 메뉴 이외의 영역 이벤트 제어를 위한 영역 */
#dimmed { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

/* 햄버거 메뉴 회전 */
.btnRotate { 
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
}

/* 댓글에 대한 댓글 등록 요소 스타일 */
.comment_reply {
  display: none;
  background-color: #eef1f5;
}

/* 댓글에 대한 댓글 내용 영역 스타일 */
.comment_reply_content {
  background-color: #eef1f5;
}

/* scrollbar customize */
body::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  height: 8px;  /* 가로축 스크롤바 길이 */
}

div::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  height: 8px;  /* 가로축 스크롤바 길이 */
}

textarea::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  height: 8px;  /* 가로축 스크롤바 길이 */
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
/* body::-webkit-scrollbar-track-piece {
  background-color: gray;
} */
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

body::-webkit-scrollbar-button {
  /* background-color: darkblue; */
  width: 0;
  height: 0;
}

div::-webkit-scrollbar-button {
  /* background-color: darkblue; */
  width: 0;
  height: 0;
}

textarea::-webkit-scrollbar-button {
  /* background-color: darkblue; */
  width: 0;
  height: 0;
}

/* Top, Left 방향의 이동버튼 */
/* body::-webkit-scrollbar-button:start {
  background-color: red; 
} */
/* Bottom, Right 방향의 이동버튼 */
/* body::-webkit-scrollbar-button:end {
  background-color: orange; 
} */
/* ::-webkit-scrollbar-button:vertical:increment {
}
::-webkit-scrollbar-button:vertical:decrement {
} */
/* 우측 하단의 코너 부분 */
/* body::-webkit-scrollbar-corner {
  background-color: violet; 
/* } */
/* body::-webkit-resizer {
  background-color: green;
} */

/* 타이틀 이미지 스타일 */
.title_img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 이미지 요소 스타일 */
.img-fluid {
  border: solid 0.5px lightgray;
}

/* 동일 주제 포스트 목록 */
.sibling_posts {
  list-style : none;
  margin : 0;
  padding : 0;
}

/* 반응형 뷰 처리를 위한 미디어 쿼리 */
@media (min-width: 485px) {

}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
  .post-info-start {
    padding-right : 15%;
  }
  .post-info-end {
    padding-left : 5%;
  }


}
@media (min-width: 992px) {
  .post-info-start {
    padding-right : 15%;
  }
  .post-info-end {
    padding-left : 5%;
  }

}

@media (min-width: 1200px) {
  .post-info-start {
    padding-right : 15%;
  }
  .post-info-end {
    padding-left : 5%;
  }

}
@media (min-width: 1400px) {
  .post-info-start {
    padding-right : 15%;
  }
  .post-info-end {
    padding-left : 5%;
  }

}

@media (min-width: 1440px) {
  .post-info-start {
    padding-right : 15%;
  }
  .post-info-end {
    padding-left : 5%;
  }

}

